/*span.bunny-one, i.bunny-one, div.bunny-one {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url('../svg/bunny-one.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: currentColor;
}*/

.bunny-one {
    fill: pink;
}

.colorhandling {
    fill: currentColor;
}

.green {
    color: green;
}