/*span.bunny-one, i.bunny-one, div.bunny-one {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url('../svg/bunny-one.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: currentColor;
}*/

/*CSS file can potentially be removed, investigate changing Javascript to directly add 
'fill: currentColor' to the SVG paths instead of adding the color handling class*/


.colorhandling {
    fill: currentColor;
    
}

.green {
    color: green;
}
