/*span.bunny-one, i.bunny-one, div.bunny-one {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-image: url('../svg/bunny-one.svg');
    background-size: contain;
    background-repeat: no-repeat;
    color: currentColor;
}*/

.bunny-one {
    fill: pink;
    
}

/*TODO: Research CSS layer hierarchy. the SVGs fill should be currentColor by default, but should be overridden by any
color classes added to the path element of the SVG*/
.colorhandling {
    fill: currentColor;
    
}

.green {
    color: green;
}
